@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'quicksand', sans-serif;
   color: grey;

}
/* configuração */
.container-grid {
width: 80%;
margin: 0 auto;
background-color: purple;
}
header{
    background-color: grey;
}
header .header-flex{
    display: flex;
    justify-content: space-between;
}
header h1{
    color: white;
    font-weight: 300;
    border: 2px solid white;
}
header h1 #logoux{
font-style: italic;
font-weight: 600;
}
header nav {
    border: 2px solid white;
}
header nav a{
    color: white;
    text-decoration: none;
}
header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h2{
   border: 1px solid red;
   height: 50px;
   width: 300px;
}
main .container-grid{
    display: flex;
    justify-content: space-between;
}
main .coluna1{
    width: 75%;
    background-color: darkgrey;
}
main .coluna2{
    width: 20%;
    background-color: deeppink;
}
main .coluna1 #Lapizera{
    width: 100%;
}
section .paragrafos{
    margin-top: 10px ;
}