@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
   font-family: 'quicksand', sans-serif;
   color: grey;

}
header{
    background-color: grey;
}
header h1{
    color: white;
}
header nav a{
    color: white;
    text-decoration: none;
}
